<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-md bg-dark fixed-top">
        <a class="navbar-brand" href="/"><img alt="celio-star" src="/img/celio-star-logo.png"
                                              width="35" height="35" class="logo"></a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <!--------- Admin --------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       sec:authorize="hasRole('ROLE_ADMIN')"
                       id="adminDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       th:text="#{admin}">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" href="/users/add-role" th:text="#{addRole}">Add Role</a>
                        <a class="dropdown-item" th:href="@{/users/remove-user}" th:text="#{removeUser}">Remove User</a>
                        <a class="dropdown-item" th:href="@{/statistics}" th:text="#{statistics}">Statistics</a>
                    </div>
                </li>
                <!--------- Manager --------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       sec:authorize="hasRole('ROLE_MANAGER')"
                       id="managerDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       th:text="#{manager}">Manager</a>
                    <div class="dropdown-menu" aria-labelledby="managerDropdown">
                        <!--            <a class="dropdown-item" href="/">Add training</a>-->
                        <a class="dropdown-item"
                           th:href="@{/sales/remove}" th:text="#{removeSale}">Remove sale</a>
                        <a class="dropdown-item"
                           href="/products/add" th:text="#{addProduct}">Add product</a>
                        <a class="dropdown-item"
                           href="/users/change-employee-store" th:text="#{changeStore}">Change store</a>
                        <a class="dropdown-item"
                           th:href="@{/users/approval}" th:text="#{approveUser}">Approve user</a>
                    </div>
                </li>
                <!--------- Stores --------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       sec:authorize="isAuthenticated()"
                       id="storeDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       th:text="#{stores}">Stores</a>
                    <div class="dropdown-menu" aria-labelledby="storeDropdown">
                        <a class="dropdown-item" th:href="@{/js/index.html}" th:text="#{resultAllStores}">Results
                            for all store</a>
                        <a class="dropdown-item" href="/stores/store-information" th:text="#{storeInformation}">Information</a>
                    </div>
                </li>
                <!--------- Consultants --------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       sec:authorize="isAuthenticated()"
                       id="sellersDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       th:text="#{consultants}">Consultants</a>
                    <div class="dropdown-menu" aria-labelledby="sellersDropdown">
                        <a class="dropdown-item" href="/users/profile/all" th:text="#{consultantsProfiles}">Consultants
                            profiles</a>
                        <a class="dropdown-item" href="/seller-results" th:text="#{consultantsResults}">Consultants results</a>
                        <a class="dropdown-item" th:href="@{/sales/add}" th:text="#{addSale}">Add sale</a>
                    </div>
                </li>
                <!--------- Training --------->
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="#" th:text="#{training}">Training</a>
                </li>
                <!--------- Registration --------->
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" th:text="#{registration}"
                       href="/users/register">Register</a>
                </li>
                <!--------- Login --------->
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" th:text="#{login}"
                       href="/users/login">Login</a>
                </li>
                <!--------- Profile --------->
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/users/profile}"
                       th:text="#{profile}">Profile</a>
                </li>
                <!--------- i18n --------->
                <form th:method="get" class="mt-2">
                    <label for="lang">
                        <img th:src="${#locale.toString()} == 'bg_BG' ? '/img/bg-flag.png' : '/img/usa-flag.jpg'"
                             width="36" height="25" alt="flag">
                    </label>
                    <select
                            onchange="this.form.submit()"
                            id="lang"
                            name="lang">
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                    </select>
                </form>
                <!--------- Logout --------->
                <li class="nav-item mt-2" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="POST">
                        <button class="form-inline my-2 my-lg-0 border px-3" type="submit"
                                th:text="#{logout}">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</th:block>