<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <nav class="navbar navbar-expand-lg bg-danger fixed-top">
    <a class="navbar-brand" href="/"><img alt="celio-star" src="/img/celio-star-logo.png"
                                          width="35" height="35" class="logo"></a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto col-12 justify-content-between">
<!--        Може би да добавя някакво меню за админа-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" sec:authorize="hasRole('ROLE_MANAGER')" id="managerDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manager</a>
          <div class="dropdown-menu" aria-labelledby="managerDropdown">
            <a class="dropdown-item" href="/">Add training</a>
            <a class="dropdown-item" href="/users/remove-sale">Remove sale</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/remove-seller">Remove seller</a>
            <a class="dropdown-item" href="/users/set-seller-store">Change the seller's store</a>
            <a class="dropdown-item" href="/products/add">Add product</a>
            <a class="dropdown-item" href="/products/remove">Remove product</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" sec:authorize="isAuthenticated()" href="#" id="shopDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop Results</a>
          <div class="dropdown-menu" aria-labelledby="shopDropdown">
            <a class="dropdown-item" href="/shops/shop-results">Results for shop</a>
            <a class="dropdown-item" href="/shops/all-shops-results">Results for all shop</a>
            <a class="dropdown-item" href="/shops/shop-information">Information</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="isAuthenticated()" href="#">Sellers Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="isAuthenticated()" href="#">Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="!isAuthenticated()" href="/users/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="!isAuthenticated()" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
            <!--            ToDo th:href="@{/users/profile/{id}() да подам Id-to на текушият user-->
          <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/users/profile}">Profile</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <div class="form-inline my-2 my-lg-0 border px-3">
            <div class="logged-user"
                 text="Welcome, Gosho"></div>
            <a class="nav-link" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</th:block>