<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg bg-danger fixed-top">
        <a class="navbar-brand" href="/"><img alt="celio-star" src="/img/celio-star-logo.png"
                                              width="35" height="35" class="logo"></a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       sec:authorize="hasRole('ROLE_MANAGER')"
                       id="managerDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Manager</a>
                    <div class="dropdown-menu" aria-labelledby="managerDropdown">
                        <!--            <a class="dropdown-item" href="/">Add training</a>-->
                        <a class="dropdown-item"
                           th:href="@{/sales/remove}">Remove sale</a>
                        <a class="dropdown-item"
                           href="/products/add">Add product</a>
                        <a class="dropdown-item"
                           href="/users/change-user-store">Change store</a>
                        <a class="dropdown-item"
                           sec:authorize="hasRole('ROLE_ADMIN')"
                           th:href="@{/users/remove-user}">Remove user</a>
                        <a class="dropdown-item"
                           sec:authorize="hasRole('ROLE_ADMIN')"
                           th:href="@{/users/approval}">Approve user</a>
                        <a class="dropdown-item"
                           sec:authorize="hasRole('ROLE_ADMIN')"
                           href="/users/add-role">Add Role</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       sec:authorize="isAuthenticated()"
                       id="storeDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Stores</a>
                    <div class="dropdown-menu" aria-labelledby="storeDropdown">
                        <a class="dropdown-item" href="/shops/store-results">Results for store</a>
                        <a class="dropdown-item" href="/shops/all-shops-results">Results for all store</a>
                        <a class="dropdown-item" href="/shops/store-information">Information</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       sec:authorize="isAuthenticated()"
                       id="sellersDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Sellers</a>
                    <div class="dropdown-menu" aria-labelledby="sellersDropdown">
                        <a class="dropdown-item" href="/users/profile/all">Sellers profiles</a>
                        <a class="dropdown-item" href="#">Sellers results</a>
                        <a class="dropdown-item" th:href="@{/sales/add}">Add sale</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="#">Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" href="/users/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <!--            ToDo th:href="@{/users/profile/{id}() да подам Id-to на текушият user-->
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/users/profile}">Profile</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="POST">
                        <button class="form-inline my-2 my-lg-0 border px-3" type="submit" >Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</th:block>