body {
    background-image: url("/img/background2.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

nav ul li a {
    color: white;
}

.container-fluid {
    padding-top: 50px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: red;*/
    /*color: white;*/
    text-align: center;
}

body div main h1 {
    color: white;
}

.btn-primary {
    background-color: red;
    border: none;
}
 /*така вместо да оцветяваме полетата слагама граница за показване на валидация*/
input:valid {
    border: lawngreen solid 2px;
}

input:invalid {
    border: red solid 2px;
}

input:invalid:required {
    background-image: linear-gradient(to right , pink , red);
}

