<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<th:block th:include="~{fragments/head}"></th:block>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div>
            <th:block th:include="~{fragments/nav}"></th:block>
        </div>
        <main class="p-5 align-content-center">
            <h1 class="border-bottom" th:text="#{addRole}">Add role</h1>
            <div class="d-flex justify-content-center">
                <div class="row g-3" style="color: red">
                    <form th:action="@{/users/add-role}"
                          th:object="${userRoleBindingModel}"
                          method="POST">
                        <!-- User -->
                        <div>
                            <div class="col-auto">
                                <label for="user" th:text="#{employeeName}">Employee name</label>
                                <select th:field="*{fullName}"
                                        id="user"
                                        class="custom-select">
                                    <option value="" th:text="#{selectEmployee}">Select employee</option>
                                    <option th:each="u : ${users}"
                                            th:value="${u}"
                                            th:text="${u}">
                                    </option>
                                </select>
                            </div>
                            <small id="userError" class="invalid-feedback form-text bg-danger rounded"
                                   th:text="#{selectEmployeeError}">
                                You must select employee</small>
                        </div>
                        <!-- Role -->
                        <div>
                            <div class="col-auto">
                                <label for="role" th:text="#{role}">Role</label>
                                <select th:field="*{role}"
                                        id="role"
                                        class="custom-select">
                                    <option value="" th:text="#{selectRole}">Select Role</option>
                                    <option th:each="r : ${roles}"
                                            th:value="${r}"
                                            th:text="${r}">
                                    </option>
                                </select>
                            </div>
                            <small id="roleError" class="invalid-feedback form-text bg-danger rounded"
                                   th:text="#{selectRoleError}">
                                You must select role</small>
                        </div>
                        <!-- Button -->
                        <div class="d-flex justify-content-center mt-4">
                            <button class="btn btn-primary btn-block w-50" type="submit" th:text="#{addRole}">Add role
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>