<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<th:block th:include="~{fragments/head}"></th:block>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div>
            <th:block th:include="~{fragments/nav}"></th:block>
        </div>
        <!-- ToDo -->
        <h5 class="text-center text-white mt-5">Add Training</h5>
    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>