<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<th:block th:include="~{fragments/head}"></th:block>
<body>
<div>
    <th:block th:include="~{fragments/nav}"></th:block>
</div>
<div class="container-fluid">
</div>
<main class="p-5 align-content-center my-register-div">
    <h1 class="border-bottom">Add Sale</h1>
    <div class="d-flex justify-content-center">
        <div class="row g-3" style="color: red">
            <form th:action="@{/sales/add}"
                  th:object="${saleAddBindingModel}"
                  method="POST">
                <!-- Seller -->
                <!-- ToDo да направя да може да си добавяш продажба на теб,но не и на други хора,а Manager на всички -->
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="col-auto">
                        <label for="user">Seller</label>
                        <select th:field="*{seller}"
                                id="user"
                                class="custom-select">
                            <option value="">Select Seller</option>
                            <option th:each="s : ${sellers}"
                                    th:value="${s}"
                                    th:text="${s}">
                            </option>
                        </select>
                    </div>
                    <small id="userError" class="invalid-feedback form-text bg-danger rounded">You must select
                        seller</small>
                </div>
                <!-- Store -->
                <div>
                    <div class="col-auto">
                        <label for="store">Store</label>
                        <select th:field="*{store}"
                                id="store"
                                class="custom-select">
                            <option value="">Select Store</option>
                            <option th:each="s : ${stores}"
                                    th:value="${s}"
                                    th:text="${s}">
                            </option>
                        </select>
                    </div>
                    <small id="storeError" class="invalid-feedback form-text bg-danger rounded">You must select
                        store</small>
                </div>
                <!-- Product -->
                <div>
                    <div class="col-auto">
                        <label for="product">Product</label>
                        <select th:field="*{products}"
                                id="product"
                                class="custom-select">
                            <!-- ToDo да разбера как става с optgroup -->
                            <!--пример: <option value="">select а ... </option>
                            <optgroup th:each="field1 : ${objA}" th:label="${field1.name}"-->
                            <option value="">Select Product</option>
                            <option th:each="p : ${products}"
                                    th:value="${p}"
                                    th:text="|${p.category}: ${p.name} ${p.price}|">
                            </option>
                        </select>
                    </div>
                    <small id="productError" class="invalid-feedback form-text bg-danger rounded">You must select
                        product</small>
                </div>
                <!-- Date -->
                <div>
                    <div class="col-auto">
                        <label for="saleDate" class="col-form-label">Sale Date</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{dateOfSale}"
                               th:errorclass="is-invalid"
                               type="date"
                               id="saleDate"
                               class="form-control"
                               aria-describedby="saleDateHelpInLine">
                        <small id="saleDateError"
                               class="invalid-feedback form-text bg-danger rounded">
                            Sale date cannot be in the future.</small>
                    </div>
                </div>
                <!-- ToDo Adding button -->

                <!-- Finish button -->
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>