<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>
<body>
  This is register page
  <div>
     <th:block th:include="~{fragments/nav}"></th:block>
      <main class="p-5 align-content-center my-register-div">
        <h1 class="border-bottom">Register</h1>
        <div class="d-flex justify-content-center">
            <div class="row g-3">
                <form action="/users/register" method="POST">
                    <div>
                        <div class="col-auto">
                            <label for="email" class="col-form-label">Email</label>
                        </div>
                        <div class="col-auto">
                            <input name="email" required type="email" id="email"
                                   class="form-control" aria-describedby="emailHelpInLine">
                            <small id="emailError"
                                   class="invalid-feedback form-text bg-danger rounded">Email must be valid</small>
                        </div>
                    </div>
                    <div>
                        <div class="col-auto">
                            <label for="password" class="col-form-label">Password</label>
                        </div>
                        <div class="col-auto">
                            <input name="password" required type="email" id="password"
                                   class="form-control" aria-describedby="emailHelpInLine">
                            <small id="passwordError"
                                   class="invalid-feedback form-text bg-danger rounded">Length must be 6 and 20 characters</small>
                        </div>
                    </div>
                    <div>
                        <div class="col-auto">
                            <label for="fullName" class="col-form-label">Full Name</label>
                        </div>
                        <div class="col-auto">
                            <input name="fullName" required type="email" id="fullName"
                                   class="form-control" aria-describedby="emailHelpInLine">
                            <small id="fullNameError"
                                   class="invalid-feedback form-text bg-danger rounded">Length must be 6 and 30 characters</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </main>
  </div>
    <th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>