<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<th:block th:include="~{fragments/head}"></th:block>
<body>
<div>
    <th:block th:include="~{fragments/nav}"></th:block>
</div>
<div class="container-fluid">
</div>
<main class="p-5 align-content-center my-login-div">
    <h1 class="border-bottom">Remove user</h1>
    <div class="d-flex justify-content-center" style="font-family: Verdana,sans-serif">
        <div class="row g-3 align-items-center" style="color: red">
            <form th:action="@{/users/remove-user}"
                  method="POST">
                <!-- Name -->
                <div>
                    <div class="col-auto">
                        <label for="user">Seller</label>
                        <select th:field="*{userRemoveBindingModel.fullName}"
                                id="user"
                                class="custom-select">
                            <option value="">Select User</option>
                            <option th:each="s : ${users}"
                                    th:value="${s}"
                                    th:text="${s}">
                            </option>
                        </select>
                    </div>
                    <small id="userError" class="invalid-feedback form-text bg-danger rounded">You must select
                        user</small>
                </div>
                <!-- Button -->
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary btn-block w-50" type="submit">Remove User</button>
                </div>
            </form>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>