<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<th:block th:include="~{fragments/head}"></th:block>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div>
            <th:block th:include="~{fragments/nav}"></th:block>
        </div>
        <main class="p-5 align-content-center">
            <h1 class="border-bottom" th:text="#{approveUser}">Approve user</h1>
            <div class="d-flex justify-content-center">
                <div id="approval-employee" class="row" style="background: #32363b ; color: white ; border-radius: 8px">
                    <form th:action="@{/users/approval}"
                          method="POST">
                        <!-- Employee -->
                        <div>
                            <div class="col-auto mt-2">
                                <label for="user" th:text="#{employeeName}">Employee name</label>
                                <select th:field="*{userFullNameBindingModel.fullName}"
                                        th:errorclass="is-invalid"
                                        required
                                        id="user"
                                        class="custom-select">
                                    <option value="" th:text="#{selectEmployee}">Select employee</option>
                                    <option th:each="e : ${employees}"
                                            th:value="${e}"
                                            th:text="${e}">
                                    </option>
                                </select>
                                <small id="userError" class="invalid-feedback form-text bg-danger rounded text-white"
                                       th:text="#{selectEmployeeError}">You must select employee</small>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="d-flex justify-content-center mt-3 mb-3">
                            <button class="btn btn-primary btn-block w-50" type="submit" th:text="#{approveUser}">
                                Approve User
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>